<h1>REVIEWS</h1>
<% @restaurants.each do |review| %>
  <h2><%= review.title %></h2>
  <h5>rating: <%= review.rating %>/5</h5>
  <h5><%= review.author %></h5>
  <%= review.body%>
  <br/>
  <%= link_to 'Show review', restaurant_path(review) %>
  <%= link_to 'Edit review', edit_restaurant_path(review) %>
  <%= link_to 'Delete review', restaurant_path(review.id), method: :delete %>
  <hr>
<% end %>
