<h1>Reviews</h1>
<% @restaurants.each do |review| %>
  <h3><%= review.title %></h3>
  <h5>rating: <%= review.rating %>/5</h5>
  <h6>review by: <%= review.author %></h6>
  <%= review.body%>
  <br/>
  <%= link_to 'Show review', restaurant_path(review) %>
  <%= link_to 'Edit review', edit_restaurant_path(review) %>
  <%= link_to 'Delete review', restaurant_path(review.id), method: :delete %>
  <hr>
<% end %>
